:root{
  --text-color: #757575;
  --secondary-text-color: #2F303A;
  --nav-list-color: #212121;
  --alert-text-color: #FFFFFF;
  --background-color: #000000;
  --axent-color: #2196F3;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
.container{
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  padding-left: 15px;
  width: 1230px;
margin-left: auto;
margin-right: auto;
  outline: 1px solid red;
}
  header{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  background-color: #212121;
  }
.header_title{
  color: #FFFFFF;
  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
}
.header_title:hover{
color: var(--axent-color);
}
.header_main{
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #2196f3;
}
.header_tel{
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}

.section_h1{
  font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.btn{
  font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
}
h3{
  color: #212121;
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.section_p{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.section1{
  display: flex;
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.footer{
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.footer_a{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
address{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6)
}



.section_foto1,.section_foto2,.section_foto3,.section_foto4{
  display: flex;
  width: 260px; ;
  height: 270px;
  text-align: center;
}














