:root{
  --text-color: #757575;
  --secondary-text-color: #2F303A;
  --nav-list-color: #212121;
  --alert-text-color: #FFFFFF;
  --background-color: #000000;
  --axent-color: #2196F3;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  width: 1230px;
margin-left: auto;
margin-right: auto;
  
}
.flex{
display: flex;
}
  
header{
padding: 24px 0;
}

.header_logo{
  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
margin-right: 93px;
}

.header_list{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.header_contact{
  display: flex;
  margin-left: auto;
  gap: 50px;
  align-items: center;
}




.header_item:hover{
color: var(--axent-color);
}


.header_contact_item:hover{
color: var(--axent-color);
}

/*секцйія героя*/


.hero{
  text-align: center;
padding-top: 200px;
padding-bottom: 200px;
background-image: url("../img/hero_bg.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.hero_text{
font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}


.hero_btn{
width: 216px;
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
color: #fff;
background-color: var(--axent-color);
border-radius: 10px;
}


.hero_btn:hover{
background-color: lightslategray;
}


.section{
  padding: 94px 0;
}

.team{
  background-color: #F5F4FA;
}

.section_list{
  display: flex;
  flex-direction: row;
    gap: 30px;
}

.section_title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-bottom: 50px;
}

.section_subtitle{
  color: #212121;
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.team_job{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
margin: 10px 0;
}

.team_item{
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
background: #fff;
text-align: center;
padding-bottom: 30px;
}

.section_text{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}



.footer{
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
color: #212121;
background-color: #212121;
padding: 60px 0;

}
.footer_link{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
color: #757575;

}
address{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6)
}

.btn_list{
display: flex;
justify-content: center;
gap: 8px;
margin-bottom: 50px;
}

.portfolio_list{
display: flex;
gap: 30px;
flex-wrap: wrap;
}

.portfolio{
  padding: 90px 0;
}










