:root{
  --text-color: #757575;
  --secondary-text-color: #2F303A;
  --nav-list-color: #212121;
  --alert-text-color: #FFFFFF;
  --background-color: #000000;
  --axent-color: #2196F3;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  width: 1230px;
margin-left: auto;
margin-right: auto;
  
}
.flex{
display: flex;
}
  
header{
padding: 24px 0;
}

.header_logo{
  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
margin-right: 93px;
}

.header_studio::after{
content: "";
position: absolute;
display: flex;
padding: 2px 21px;
border-radius: 10px;
margin-top: 7px;
background-color: var(--axent-color);
}


.header_portfolio::after{
content: "";
position: absolute;
display: flex;
padding: 2px 39px;
border-radius: 10px;
margin-top: 7px;
background-color: var(--axent-color);
}

.header-contact::after{
  content: "";
position: absolute;
display: flex;
padding: 2px 33px;
border-radius: 10px;
margin-top: 7px;
background-color: var(--axent-color);
}

.header_list{
  display: flex;

  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.header_contact{
  display: flex;
  margin-left: auto;
  gap: 50px;
  align-items: center;
}

.social_header_item{
    display: flex;
  align-items: center;
  justify-content: center;
height: 44px;
  width: 44px;
  margin-right: 10px;
  background-color: var(--alert-text-color);
  color: var(--text-color);

}

.social_header_item:hover{
  color: var(--axent-color);
}

.social_icon{
  margin-right: 10px;
}

.header_item{
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;

}

.header_contact_item{
      transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
}


.button_label{
    transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
}


.header_item:hover{
color: var(--axent-color);
}


.header_contact_item:hover{
color: var(--axent-color);
}

/*секцйія героя*/


.hero{
  text-align: center;
padding-top: 200px;
padding-bottom: 200px;
background-image: url("../img/hero_bg.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.hero_text{
font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}


.hero_btn{
width: 216px;
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
color: #fff;
background-color: var(--axent-color);
border-radius: 10px;
transition: color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
}


.hero_btn:hover{
background-color: rgb(26, 85, 168);
}


.section{
  padding: 94px 0;
}

.team{
  background-color: #F5F4FA;
}

.section_list{
  display: flex;
  flex-direction: row;
    gap: 30px;
}

.section_title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-bottom: 50px;
}

.section_subtitle{
  color: #212121;
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.section_layer{
  font-family: var(--second-family);
  position: absolute;
 background-color: #2F303A;
 opacity: 80%;
 width: 370px;
 height: 57px;
bottom: 1px;
 color: #fff;
 border-radius: 3px;
 border: 1px solid black;
 cursor: pointer;
z-index: 1;
}

.layer_text{
  padding: 27px 107px;
}

.section_li{
  position: relative;
  
}

.layer_text{
padding: 12px  90px;
}

.team_job{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
margin: 10px 0;
}

.clientse{
  padding: 94px 0;
}

.social_list{
  display: flex;
  align-items: center;
  justify-content: center;
  display: 12px;
}

.social_item:hover{
  color: var(--alert-text-color);
  background-color: var(--axent-color);
}

.social_item{
  display: flex;
  align-items: center;
  justify-content: center;
height: 44px;
  width: 44px;
  margin-right: 10px;
  background-color: var(--alert-text-color);
  color: var(--text-color);
  border-radius: 50%;
}

.social_icon{
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
}

.team_item{
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
background: #fff;
text-align: center;
padding-bottom: 44px;
}

.section_text{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}

.regular_client{
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
padding-bottom: 50px;
letter-spacing: 0.03em;
text-align: center;
color: #212121
}

.client_list{
  display: flex;
  justify-content: center;
  display: 12px;
   gap: 30px;
}

.client_item{
  display: flex;
  align-items: center;
  justify-content: center;
   padding: 24px 20px;
   height: 92px;  
   width: 170px;
  color: var(--text-color);
   outline:1px solid #AFB1B8;
}

.client_item:hover{
   outline:1px solid #2196F3;
}


.client_icon{
fill: var(--text-color);
height: 80px;
width: 100px;
    transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
}

.client_icon:hover{
 fill: var(--axent-color);
}


.footer{
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
color: #212121;
background-color: #212121;
padding: 60px 0;

}
.footer_link{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
color: #757575;

}
address{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6)
}

.btn_list{
display: flex;
justify-content: center;
gap: 8px;
margin-bottom: 50px;
}

.portfolio_list{
display: flex;
gap: 30px;
flex-wrap: wrap;
}



.div_box{
  position: relative;
  overflow: hidden;
}

.overlay{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
background-color: #2196f3;
color: #FFFFFF;
top: 0;
left: 0;
opacity: 80%;
transform: translateY(100%);
transition-property: transform;
transition-duration: 500ms;
}

.div_box:hover .overlay{
  transform: translate(0);
}

.portfolio{
  padding: 90px 0;
}

.portfolio_btn{
  background-color: #F5F4FA;
  padding: 8px 26px;
}

.portfolio_btn:hover{
  background-color: var(--axent-color);
  color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.footer_adress{
  display: flex;
  align-items: baseline;
    color: #FFFFFF;
}


.messenger{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.modal_text{
  font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
padding: 24px;
}

.document_link{
  color: var(--axent-color);
}


.button_label{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-family);
background-color: var(--axent-color);
font-weight: 400;
padding: 10px 52px;
font-size: 12px;
line-height: 187%;
letter-spacing: 0.06em;
color: #fff;
bottom: 35px;
    transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
}

.button_label:hover{
background-color: rgb(26, 85, 168);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
transition-property: opacity;
transition-duration: 500ms;
}

.no-scroll {
  overflow: hidden;
}

.backdrop.is-hidden .modal{
 transform: translate(-50%, -50%) scale(0.25);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  height: 581px;
  width: 528px;
  background-color: #FFFFFF ;
  transform: translate(-50%, -50%);
  transition: transform 500ms;
}

.modal_label{
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px;
}


.modal_input{
  position: absolute;
}
.modal_title_text{
  font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
letter-spacing: 0.03em;
text-align: center;
color: #212121
}


.modal-close-button{
  display: flex;
justify-content: flex-end;
width: 30px;
height: 30px;
}

.label_text{
  display: flex;
  justify-content: center;
 color: #757575;
}





.input_label{
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 448px;
height: 40px;
}


.modal_text{
 border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 448px;
height: 120px;

}